<title>{{title}}</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
   

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/add.css">

<link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
  </head>
    

     <div class="navbar navbar-fixed-top navbar-default " style="background-color:#0B0B61">
  	<div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="#">VehiclePartner.lk</a><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </a>
      </div>
        <div class="navbar-collapse">
           
			<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user" style="color: #FFFFFF"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in" style="color: #FFFFFF"></span> Login</a></li>
      </ul>
        
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>




<div class="container">
  <div class="well">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips1.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Check tire pressures </h3>
          <p>One of the things that <a href="https://www.carbibles.com/improve-gas-mileage/">impact fuel economy</a>
		   is tire pressure. It also affects comfort and handling. Your owner’s manual will have the recommended tire pressure for your vehicle. There are also gadgets and simple tools you can use to check the tire pressure. Ideally, this should be done on a weekly basis, although making it part of your daily routine won’t hurt. Some cars have tire pressure monitoring systems installed from the factory.
		    There are also smart gadgets that connect with mobile devices that constantly 
			<a href="https://www.carbibles.com/best-portable-air-compressor-reviewed/">monitor tire pressure</a> 
			 and send out notifications in case one or more tires need some air.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>
   <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips2.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading">Clean the brake dust off your wheels</h3>

          <p>While brake dust doesn’t affect the full functioning of your brake system, they do make your wheels a little bit unpleasant to look at. One thing you need to understand is that brake dust is merely the accumulation of a variety of materials that come from the brake rotor and the brake pad itself as they come in contact when you apply the brakes. Iron accounts for about 92% of the dust. The remaining 8% will be carbon content, grime, dirt, and other particles that, if left to bake under the sun, will leave you with a severely stained wheel. As such, it is important to clean the dust off your wheels with a damp sponge.
			   You will also need clean cold water because brake dust typically clings to your wheels via static electricity.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

<div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips3.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Rotate tires and have the alignment checked </h3>

          <p>Wheel balancing and alignment are important aspects of basic car maintenance since these can play a role in your car’s fuel economy, not to mention safety while on the road. It is thus crucial to have your tires rotated, balanced, and aligned according to the mileage that was indicated in your owner’s manual. The rule of thumb is to 
			  have it rotated every 5,000 miles although you can always double check with the manual for better accuracy.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>


  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips4.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Check engine coolant level </h3>

          <p>All moving things generate heat. And while there’s oil in your engine to help reduce the friction between moving parts and help prevent it from getting excessively hot at a much faster rate, your engine will also need a system that will help it get rid of this generated heat. That’s the function of your radiator and the fluid supplied to it is your engine coolant. If there’s no coolant in the reservoir or it is running low, then heat from the engine won’t get dissipated into the environment. This can lead to engine overheating. As part of your car maintenance checklist you need to check your engine coolant levels even before you start rolling out of your driveway. Checking it is quite easy since most cars today come with coolant reservoirs that are somehow translucent and with appropriate level markings on the panel. Even without you opening the lid of the reservoir, you should be able to visually inspect whether it is running low or not. The question now is where to look for the engine coolant reservoir in your car. 
			  The answer is simple – read your manual.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>


  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips5.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Replace broken indicator bulbs </h3>

          <p>These fixtures in your vehicle are very important and as such should never be overlooked in your car maintenance checklist. Indicator or signal lights inform other motorists of the direction you are planning to go to. This way they will also know what to do. For example, if you’re signaling left, then they should know not to overtake and to start slowing down to compensate for your own reduction in speed. The thing is that if the indicator light to the direction where you’re turning is flashing a lot faster than when you switch on to the other direction, it simply means you have a blown light bulb. The great news is that today’s cars come with lighting modules that are can be easily replaced without having to go to the shop. A word of caution though, it is important to use only the kind of bulb that is specific to your vehicle’s make. And if you can remember we did mention in the beginning that reading your vehicle owner’s manual can help you a great deal in your basic car maintenance chores. Additionally, 
			  the manual will also tell you exactly how to access and replace these lights.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips6.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading">Don’t touch the glass bulbs when replacing </h3>

          <p>Whenever you have to replace the bulb on your headlight as it is quite easy to remove from its mounting, make sure to touch only the metal bulb holder located at the base of the lighting fixture. Alternatively you can wear clean mechanic’s gloves or better yet sterile surgical gloves if you really have to touch the glass itself. The reason is quite simple: you don’t want to transfer any of those oils, grime, dust, and dirt on your fingertips onto the bulb since this manufactured with specialized coating on the bulb’s exterior surface. The introduction of particles, grease, oil, or dirt on the bulb’s surface inadvertently affects this special coating. When you turn your headlights on, this part of the bulb will heat up a lot faster than the rest of the bulb,
			   causing it to crack.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips7.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading">Replace windshield wipers </h3>

          <p>Visibility is a must whenever you’re on the road. And your window to the outside world is your windshield. Keeping it in excellent order is partly the job of your windshield wiper. Now, remember that these wipers are not exactly very durable so they tend to wear out a little faster than other components of your car. The good news is that they’re a lot easier to replace, too. If your windshield is already getting streaky or that it makes a squeaking, grating noise every time it is switched on, then it’s time to replace it. Buy a replacement wiper blade that is recommended for your vehicle. And while you’re replacing your wipers,
			   why don’t you give your windshield a thorough cleaning both inside and out.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips8.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Replace cabin air filter </h3>

          <p>It may not improve your car’s overall performance, but if you’ve got a family member who’s quite allergic to dust and other airborne particles, you might want to replace the cabin air filter in your car. This is one of the easiest and most practical ways to keep everyone safe and comfy inside your car’s cabin. The current recommendation is to replace your cabin air filter every 12 months or every 12,000 miles, whichever comes first. However,
			   you can always refer to your owner’s manual for the recommended schedule of cabin air filter replacement.</p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

  <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="img-thumbnail" height="150" width="150" src="/images/tips/tips9.jpg">
  		</a>
  		<div class="media-body">
    		<h3 class="media-heading"> Check the battery terminals and clean the contacts as needed </h3>

          <p>Just because your battery is labeled maintenance-free doesn’t mean you can already skimp on this basic car maintenance activity.
			   At the very least you should know where it is located in your engine bay. Next, <a href="https://www.carbibles.com/clean-car-battery-terminals/">check the battery terminals for any sign of corrosion</a>
			    or mineral buildup. If you notice any, get a cleaning brush intended specifically for battery terminals and rub off the buildup.
				 This should help <a href="https://www.carbibles.com/car-battery-life/">prolong battery life</a> 
				  and lower your average car maintenance cost. It is often a good idea to get a battery tester as well as a 
				 <a href="https://www.carbibles.com/how-to-jump-start-car/">jump starter</a>
				  as you don’t really know when your battery will die out on you. 
				  For that, you might want to consider having a spare battery in your trunk or those just-in-case moments. </p>
          <ul class="list-inline list-unstyled">
  			
			</ul>
       </div>
    </div>
  </div>

</div>


