{{!-- <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>this is home page</h1>
<a class="btn btn-primary" href="/vehicle_ads" role="button">All Vehicle Adds</a>
<a class="btn btn-primary" href="/#" role="button">All Vehicle rent adds Adds</a>
<a class="btn btn-primary" href="/#" role="button">All Spare parts Adds</a> --}}

  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index-menu.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/toggler.css">
  <title>{{title}}</title>
</head>
<body>

<div class="pageWrap">

  <div class="pageContent" id="pageContent">
    <div class="header">
      <div class="logo" id="logo">VehiclePartner.lk</div>
      <div class="signIn" id="signIn"><p class="skew" ><a class="btn btn-primary" href="/users/register" role="button">Register</a></p></div>

    </div>
    <input type="checkbox" id="menu-toggle" unchecked>
    <div class="content">
      <label class="menu-label" for="menu-toggle">
        <div class="menu-toggler">
          <span></span>
        </div>
      </label>
      <div class="content-wall">
        <div class="content-left">
          <div class="strip">
            <section class="quote">
              <p >All Your</p>
              <p> Auto Mobile Solutions </p>
              <p> In One Place... </p>
            </section>
            <section class="welcome-text">
              <p >Welcome to the Vehicle Partner.. </p>
            </section>
            <a href="/users/login" style="text-decoration: none">
            <div class="signUp" id="signUp" >Post ad </div>
            </a>
          </div>
        </div>
        <div class="content-right"></div>
      </div>

      <div class="container" >
        <div class="row_1">
          <a href="#">
          <div class="section_1">
            <div class="image-bg"></div>
            <div class="text">Spare Parts</div>
          </div>
          </a>
          <a href="/vehicle_ads">
          <div class="section_2">
            <div class="image-bg"></div>
            <div class="text" style="z-index: 9999;">Vehicle Ads</div>
          </div>
          </a>
          <a href="/garage">
          <div class="section_3">
            <div class="image-bg"></div>
            <div class="text">Garages</div>
          </div>
          </a>
        </div>
        <div class="row_2">
          <div class="bigCircle">
          </div>
        </div>
        <div class="row_3">
          <a href="/rent_ads">
          <div class="section_7">
            <div class="image-bg"></div>
            <div class="text">Vehicle rent</div>
          </div>
          </a>
          <a href="/users/aboutUs">
          <div class="section_8">
            <div class="image-bg"></div>
            <div class="text">About Us</div>
          </div>
          </a>
          <a href="/users/helpAndTips">
          <div class="section_9">
            <div class="image-bg"></div>
            <div class="text">Helps & Tips</div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

