<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/add.css">
<link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
</head>
<body style="background-color:#F2F3F5">
<div class="navbar navbar-fixed-top navbar-default " style="background-color:#0B0B61">
  	<div class="container">
      <div class="navbar-header"><a class="navbar-brand" href="#">VehiclePartner.lk</a><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
          <span class="glyphicon glyphicon-bar"></span>
        </a>
      </div>
        <div class="navbar-collapse">
           
			<ul class="nav navbar-nav navbar-right">
        
        <li><a href="#"><span class="glyphicon glyphicon-log-in" style="color: #FFFFFF"></span> LogOut</a></li>
      </ul>
        
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix" >
                <div class="well" style="background-color:#EAEBEF;">
                    <ul class="nav ">
                        <h1> Sell Something:</h1>
						
                        
                        <button type="button" class="btn btn-info btn-lg btn-block"><a  href="/users/vehicle_ad_form">Sell a Vehicle</a></button>
<button type="button" class="btn btn-info btn-lg btn-block">Sell a Spare Part</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Rent a Vehicle</button>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
        <div class="col-md-6">
            
                
<div class="jumbotron">
                 <p>Posted ad of Yours</p>

                
            </div>

           
        </div>
        <!--/span-->
        <div class="col-md-3">
            <div class="sidebar-nav-fixed pull-right affix">
                <div class="well" style="background-color:#EAEBEF;">
                    <ul class="nav ">
                        <li class="nav-header">Advetisement</li>
                       
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    
<!--/.fluid-container-->
</body>
</html>